body { background-image: url("../gradient.png");}
.top-bar, .top-bar ul {background-color: #eeeeee;}
.klient {margin-top: 40px;}
.archive {margin-top: 40px;}
.rejestracja2 {width: 1200px;}
.ramka {margin-left: 250px;
                margin-top: 15px;}
.hotel {margin-top: 27px;}
.rejestr {margin-top: 15px;}
.log {margin-top: 130px;}
h2 {font-family: "Times New Roman";
	text-align: centred;}